@import "lncs.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  h1, h2 {
    text-align: center;
  }

  .actions, .context {
    display: none;
  }
}

section,
.empty-page,
header {
  page-break-after: always;
  
  .purpose {
    font-style: italic;
    text-align: center;
  }
}

section.sub-paper section:not(.sub-preface) {
  page-break-after: initial;
}


.screenonly {
  display: none;
}

ol.index-entries {
  margin-bottom: 0;
}

ol.index-entries[depth="0"] {
  li {
    font-weight: bold;
  }
}

ol.index-entries[depth="1"] {
  margin-bottom: 1em;
  li {
    font-weight: normal;
  }
}

abbr {
  text-decoration: none;
}

.acronyms tbody {
  border: none;
}

table.acronyms {
  page-break-inside: auto !important;
}

figure {
  text-align: center;
  margin: 0.5em;
}

figure p {
  text-align: center;
}

figure.algorithm,
figure.code,
figure.listing {
  text-align: left;
}

figure.subfigure {
  display: inline-block;
  width: 15em;
  vertical-align: top;
}

figcaption {
  text-align: left;
}

.figure-medium {
  width: auto;
  height: 16em;
}

.figure-medium-width {
  width: 30em;
}

.figure-small {
  width: auto;
  height: 8em;
}
