@import "lncs.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  .actions, .context {
    display: none;
  }
}

section {
  page-break-after: always;
}

section.sub-paper section {
  page-break-after: initial;
}


.screenonly {
  display: none;
}

ol.index-entries {
  margin-bottom: 0;
}

ol.index-entries[depth="0"] {
  li {
    font-weight: bold;
  }
}

ol.index-entries[depth="1"] {
  margin-bottom: 1em;
  li {
    font-weight: normal;
  }
}

abbr {
  text-decoration: none;
}
